@use "./function" as fn;

/* Media Query */
@mixin breakpoint-up($breakpoint) {
  @if $breakpoint == sm {
    @media (min-width: 640px) {
      @content;
    }
  } @else if $breakpoint == md {
    @media (min-width: 768px) {
      @content;
    }
  } @else if $breakpoint == lg {
    @media (min-width: 1024px) {
      @content;
    }
  } @else {
    @warn "No breakpoint defined for `#{$breakpoint}`.";
  }
}

/* Typography */

// Link Arrow
@mixin typography-link-arrow {
  font-size: fn.px-to-rem(16px);
  font-weight: 700;
  line-height: 1.25;

  @include breakpoint-up(lg) {
    font-size: fn.px-to-rem(18px);
  }
}

// Navigation
@mixin typography-navigation-logo-text {
  font-size: fn.px-to-rem(18px);
  font-weight: 700;
  line-height: 1;
}

@mixin typography-navigation-link-group {
  font-size: fn.px-to-rem(13px);
  font-weight: 600;
  line-height: 20px;
}

@mixin typography-navigation-link {
  font-size: fn.px-to-rem(13px);
  font-weight: 400;
  line-height: 20px;
}

// Hero
@mixin typography-hero-heading {
  font-size: fn.px-to-rem(24px);
  font-weight: 700;
  line-height: fn.px-to-rem(40px);

  @include breakpoint-up(lg) {
    font-size: fn.px-to-rem(32px);
  }
}

@mixin typography-hero-teaser-paragraph {
  font-size: fn.px-to-rem(16px);
  font-weight: 500;
  line-height: 1.5;
}

@mixin typography-hero-description {
  font-size: fn.px-to-rem(18px);
  font-weight: 600;
  line-height: 1.75;

  @include breakpoint-up(lg) {
    font-size: fn.px-to-rem(20px);
  }
}

// News
@mixin typography-news-heading {
  font-size: fn.px-to-rem(36px);
  font-weight: 700;
  line-height: fn.px-to-rem(40px);

  @include breakpoint-up(sm) {
    font-size: fn.px-to-rem(48px);
    line-height: 1;
  }
}

@mixin typography-news-heading-subtitle {
  font-size: fn.px-to-rem(36px);
  font-weight: 700;
  line-height: fn.px-to-rem(40px);

  @include breakpoint-up(sm) {
    font-size: fn.px-to-rem(48px);
    line-height: 1;
  }
}

@mixin typography-news-item-tag {
  font-size: fn.px-to-rem(36px);
  font-weight: 700;
  line-height: fn.px-to-rem(40px);

  @include breakpoint-up(sm) {
    font-size: fn.px-to-rem(48px);
    line-height: 1;
  }
}

@mixin typography-news-item-title {
  font-size: fn.px-to-rem(36px);
  font-weight: 700;
  line-height: fn.px-to-rem(40px);

  @include breakpoint-up(sm) {
    font-size: fn.px-to-rem(48px);
    line-height: 1;
  }
}

@mixin typography-news-item-body {
  font-size: fn.px-to-rem(36px);
  font-weight: 700;
  line-height: fn.px-to-rem(40px);

  @include breakpoint-up(sm) {
    font-size: fn.px-to-rem(48px);
    line-height: 1;
  }
}
