@use "./function" as fn;

/* Primitive variables */
$color-white: #ffffff;
$color-black: #222222;
// $color-blue-50: #eff6ff;
// $color-blue-100: #dbeafe;
$color-indigo-200: #eef2ff;
// $color-blue-300: #8ec5ff;
$color-indigo-400: #818cf8;
$color-indigo-500: #4f46e5;
// $color-blue-600: #155dfc;
// $color-blue-700: #1447e6;
// $color-blue-800: #193cb8;
// $color-blue-900: #1c398e;
$color-indigo-950: #0f172a;
// $color-grey-50: #f8fafc;
// $color-grey-100: #f1f5f9;
$color-grey-200: #94a3b8;
// $color-grey-300: #cbd5e1;
// $color-grey-400: #94a3b8;
$color-grey-500: #2c3344;
// $color-grey-600: #475569;
// $color-grey-700: #334155;
// $color-grey-800: #1f2937;
// $color-grey-900: #111827;
// $color-grey-950: #0b1220;
$spacing-0: 0;
$spacing-4: 4px;
$spacing-8: 8px;
$spacing-12: 12px;
$spacing-16: 16px;
$spacing-24: 24px;
$spacing-32: 32px;
$spacing-60: 60px;
$spacing-120: 120px;
$border-radius-0: 0;
$border-radius-4: 4px;
$border-radius-8: 8px;
$border-radius-12: 12px;
$border-radius-99999: 99999px;
$border-width-0: 0;
$border-width-1: 1px;
$border-width-2: 2px;
$border-width-3: 3px;

/* Mapped variables */
$background-color: $color-white;
$background-subtle-color: $color-grey-500;
$text-color: $color-black;
$text-subtle-color: $color-grey-200;
$stroke-color: $color-black;
$stroke-subtle-color: $color-grey-200;
$on-accent-text-color: $color-white;
$accent-color: $color-indigo-500;
$accent-minimal-color: $color-indigo-400;
$accent-subtle-color: $color-indigo-200;
$accent-bold-color: $color-indigo-950;
$border-radius-none: $border-radius-0;
$border-radius-xs: $border-radius-4;
$border-radius-sm: $border-radius-8;
$border-radius-md: $border-radius-12;
$border-radius-full: $border-radius-99999;
$border-width-none: $border-width-0;
$border-width-xs: $border-width-1;
$border-width-sm: $border-width-2;
$border-width-md: $border-width-3;
$spacing-none: $spacing-0;
$spacing-4xs: fn.px-to-rem($spacing-4);
$spacing-3xs: fn.px-to-rem($spacing-8);
$spacing-2xs: fn.px-to-rem($spacing-12);
$spacing-xs: fn.px-to-rem($spacing-16);
$spacing-sm: fn.px-to-rem($spacing-24);
$spacing-md: fn.px-to-rem($spacing-32);
$spacing-lg: fn.px-to-rem($spacing-60);
$spacing-xl: fn.px-to-rem($spacing-120);
