@use "./function" as fn;

/* Primitive variables */
$color-white: #ffffff;
$color-black: #222222;
$color-indigo-200: #eef2ff;
$color-indigo-400: #818cf8;
$color-indigo-500: #4f46e5;
$color-indigo-950: #0f172a;
$color-grey-100: #edeef0;
$color-grey-200: #94a3b8;
$color-grey-500: #2c3344;
$spacing-0: 0;
$spacing-2: 2px;
$spacing-4: 4px;
$spacing-8: 8px;
$spacing-10: 10px;
$spacing-12: 12px;
$spacing-16: 16px;
$spacing-24: 24px;
$spacing-32: 32px;
$spacing-48: 48px;
$spacing-56: 56px;
$spacing-60: 60px;
$spacing-70: 70px;
$spacing-80: 80px;
$spacing-120: 120px;
$border-radius-0: 0;
$border-radius-4: 4px;
$border-radius-8: 8px;
$border-radius-12: 12px;
$border-radius-99999: 99999px;
$border-width-0: 0;
$border-width-1: 1px;
$border-width-2: 2px;
$border-width-3: 3px;

/* Mapped variables */
$mapped-background-color: $color-white;
$mapped-background-subtle-color: $color-grey-100;
$mapped-text-color: $color-black;
$mapped-text-subtle-color: $color-grey-200;
$mapped-stroke-color: $color-black;
$mapped-stroke-subtle-color: $color-grey-200;
$mapped-on-accent-text-color: $color-white;
$mapped-accent-color: $color-indigo-500;
$mapped-accent-minimal-color: $color-indigo-400;
$mapped-accent-subtle-color: $color-indigo-200;
$mapped-accent-bold-color: $color-indigo-950;
$mapped-secondary-color: $color-indigo-950;
$mapped-on-secondary-background-subtle-color: $color-grey-500;
$mapped-border-radius-none: $border-radius-0;
$mapped-border-radius-xs: $border-radius-4;
$mapped-border-radius-sm: $border-radius-8;
$mapped-border-radius-md: $border-radius-12;
$mapped-border-radius-full: $border-radius-99999;
$mapped-border-width-none: $border-width-0;
$mapped-border-width-xs: $border-width-1;
$mapped-border-width-sm: $border-width-2;
$mapped-border-width-md: $border-width-3;
$mapped-spacing-none: $spacing-0;
$mapped-spacing-6xs: fn.px-to-rem($spacing-2);
$mapped-spacing-5xs: fn.px-to-rem($spacing-4);
$mapped-spacing-4xs: fn.px-to-rem($spacing-8);
$mapped-spacing-3xs: fn.px-to-rem($spacing-10);
$mapped-spacing-2xs: fn.px-to-rem($spacing-12);
$mapped-spacing-xs: fn.px-to-rem($spacing-16);
$mapped-spacing-sm: fn.px-to-rem($spacing-24);
$mapped-spacing-md: fn.px-to-rem($spacing-32);
$mapped-spacing-2md: fn.px-to-rem($spacing-48);
$mapped-spacing-3md: fn.px-to-rem($spacing-56);
$mapped-spacing-lg: fn.px-to-rem($spacing-60);
$mapped-spacing-2lg: fn.px-to-rem($spacing-70);
$mapped-spacing-3lg: fn.px-to-rem($spacing-80);
$mapped-spacing-xl: fn.px-to-rem($spacing-120);
