@use "@/styles/abstract/index-abstract" as abs;
@use "@/styles/base/index-base" as root;

.hero-intro {
  background-color: transparent;

  &__heading {
    margin-bottom: var(--spacing-md);
    @include abs.typography-hero-heading;
  }

  &__content {
    background-color: transparent;
  }

  &__description-item {
    background-color: transparent;
    margin-bottom: var(--spacing-md);

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  &__paragraph {
    @include abs.typography-hero-teaser-paragraph;
  }

  &__description-image {
    margin-top: var(--spacing-md);
  }

  &__description-video {
    margin-top: var(--spacing-md);
  }
}
