@use "@/styles/abstract/index-abstract" as abs;
@use "@/styles/base/index-base" as root;

.hero-image {
  /* Modifier */
  --hero-image-media-dimension-media-width: 100%;
  --hero-image-media-dimension-media-desktop-width: 400px;
  --hero-image-media-dimension-media-height: 100%;
  --hero-image-media-dimension-media-border-radius: #{root.$border-radius-sm};
  --hero-image-media-aspect-ratio: 16/9;
  --hero-image-media-aspect-ratio-width: 100%;
  --hero-image-media-aspect-ratio-desktop-width: 400px;
  --hero-image-media-aspect-ratio-height: 100%;
  --hero-image-media-aspect-ratio-border-radius: #{root.$border-radius-sm};
  /* Heading */
  --hero-image-heading-margin-bottom: #{root.$spacing-lg};
  /* Teaser */
  --hero-image-teaser-gap: #{root.$spacing-md};
  --hero-image-teaser-margin-bottom: #{root.$spacing-md};
  /* Paragraphs Container */
  --hero-image-paragraphs-container-margin-bottom: #{root.$spacing-md};
  /* Paragraph */
  --hero-image-paragraph-margin-bottom: #{root.$spacing-sm};
  /* Links Container */
  --hero-image-links-container-gap: #{root.$spacing-4xs};
  /* Descriptions Container */
  --hero-image-descriptions-container-margin-bottom: #{root.$spacing-md};
  /* Description */
  --hero-image-description-gap: #{root.$spacing-xs};
  --hero-image-description-margin-bottom: #{root.$spacing-sm};
  /* Bullet Point */
  --hero-image-bullet-point-width: 8px;
  --hero-image-bullet-point-height: 8px;
  --hero-image-bullet-point-margin-top: #{root.$spacing-2xs};
  --hero-image-bullet-point-border: 2px solid #{root.$accent-color};
  --hero-image-bullet-point-border-radius: 50%;
  /* Description Text */
  --hero-image-description-text-margin-bottom: #{root.$spacing-4xs};
  /* Description Image */
  --hero-image-description-image-width: 100%;
  --hero-image-description-image-desktop-width: 320px;
  --hero-image-description-image-height: auto;
  --hero-image-description-image-margin-bottom: #{root.$spacing-sm};
  --hero-image-description-image-border-radius: #{root.$border-radius-xs};
  --hero-image-description-image-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.7);
  // Modifier
  --hero-image-description-image-control-height: auto;
  --hero-image-description-image-control-desktop-height: 240px;
  --hero-image-description-image-control-width: 100%;
  --hero-image-description-image-control-desktop-width: auto;
  /* Bottom Links Container */
  --hero-image-bottom-links-container-gap: #{root.$spacing-4xs};
  --hero-image-bottom-links-container-padding: 0;
  --hero-image-bottom-links-container-desktop-padding: #{0 root.$spacing-md};
  --hero-image-bottom-links-container-margin-bottom: #{root.$spacing-md};

  background-color: transparent;

  &--media-dimension {
    .hero-image__media {
      width: var(--hero-image-media-dimension-media-width);
      height: var(--hero-image-media-dimension-media-height);
      border-radius: var(--hero-image-media-dimension-media-border-radius);
      flex-shrink: 0;

      @include abs.breakpoint-up(lg) {
        width: var(--hero-image-media-dimension-media-desktop-width);
      }
    }
  }

  &--aspect-ratio {
    .hero-image__media {
      aspect-ratio: var(--hero-image-media-aspect-ratio);
      width: var(--hero-image-media-aspect-ratio-width);
      height: var(--hero-image-media-aspect-ratio-height);
      flex-shrink: 0;
      border-radius: var(--hero-image-media-aspect-ratio-border-radius);
      display: block;

      @include abs.breakpoint-up(lg) {
        width: var(--hero-image-media-aspect-ratio-desktop-width);
      }
    }
  }

  &__heading {
    margin-bottom: var(--hero-image-heading-margin-bottom);
    @include abs.typography-hero-heading;
  }

  &__teaser {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: var(--hero-image-teaser-gap);
    margin-bottom: var(--hero-image-teaser-margin-bottom);

    @include abs.breakpoint-up(lg) {
      flex-direction: row;
    }
  }

  &__media {
    background-color: transparent;
  }

  &__teaser-content {
    flex: 1;
    background-color: transparent;
  }

  &__paragraphs-container {
    margin-bottom: var(--hero-image-paragraphs-container-margin-bottom);
  }

  &__paragraph {
    @include abs.typography-hero-teaser-paragraph;

    &:not(:last-child) {
      margin-bottom: var(--hero-image-paragraph-margin-bottom);
    }
  }

  &__links-container {
    display: flex;
    flex-direction: column;
    gap: var(--hero-image-links-container-gap);
  }

  &__descriptions-container {
    margin-bottom: var(--hero-image-descriptions-container-margin-bottom);
  }

  &__description {
    display: flex;
    gap: var(--hero-image-description-gap);
    margin-bottom: var(--hero-image-description-margin-bottom);
  }

  &__bullet-point {
    display: none;
    flex-shrink: 0;
    width: var(--hero-image-bullet-point-width);
    height: var(--hero-image-bullet-point-height);
    margin-top: var(--hero-image-bullet-point-margin-top);
    border: var(--hero-image-bullet-point-border);
    border-radius: var(--hero-image-bullet-point-border-radius);

    @include abs.breakpoint-up(lg) {
      display: block;
    }
  }

  &__description-text {
    margin-bottom: var(--hero-image-description-text-margin-bottom);
    @include abs.typography-hero-description;
  }

  &__description-image {
    width: var(--hero-image-description-image-width);
    height: var(--hero-image-description-image-height);
    margin-bottom: var(--hero-image-description-image-margin-bottom);
    border-radius: var(--hero-image-description-image-border-radius);
    box-shadow: var(--hero-image-description-image-box-shadow);

    @include abs.breakpoint-up(lg) {
      width: var(--hero-image-description-image-desktop-width);
    }

    &--control-height {
      width: var(--hero-image-description-image-control-width);
      height: var(--hero-image-description-image-control-height);

      @include abs.breakpoint-up(lg) {
        width: var(--hero-image-description-image-control-desktop-width);
        height: var(--hero-image-description-image-control-desktop-height);
      }
    }
  }

  &__bottom-links-container {
    display: flex;
    flex-direction: column;
    gap: var(--hero-image-bottom-links-container-gap);
    padding: var(--hero-image-bottom-links-container-padding);
    margin-bottom: var(--hero-image-bottom-links-container-margin-bottom);

    @include abs.breakpoint-up(lg) {
      padding: var(--hero-image-bottom-links-container-desktop-padding);
    }
  }
}
