@use "@/styles/abstract/index-abstract" as abs;
@use "@/styles/base/index-base" as root;

.hero-async {
  background-color: transparent;

  &__heading {
    margin-bottom: var(--spacing-md);
    @include abs.typography-hero-heading;
  }

  &__teaser {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: var(--spacing-md);
    margin-bottom: var(--spacing-md);
  }

  &__teaser-content {
    display: none;
    background-color: transparent;
  }

  &__paragraphs-container {
    margin-bottom: var(--spacing-md);
  }

  &__paragraph {
    @include abs.typography-hero-teaser-paragraph;

    &:not(:last-child) {
      margin-bottom: var(--spacing-sm);
    }
  }

  &__links-container {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-3xs);
  }

  &__descriptions-container {
    margin-bottom: var(--spacing-md);
  }

  &__description {
    display: flex;
    gap: 16px;
    margin-bottom: var(--spacing-sm);
  }

  &__bullet-point {
    display: none;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    margin-top: 12px;
    flex-shrink: 0;
    border: 2px solid var(--accent-color);

    @include abs.breakpoint-up(lg) {
      display: block;
    }
  }

  &__description-text {
    @include abs.typography-hero-description;
  }

  &__description-image {
    height: auto;
    width: 100%;
    margin-top: 16px;
    margin-bottom: var(--spacing-sm);
    border-radius: 4px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.7);

    @include abs.breakpoint-up(lg) {
      width: 320px;
    }

    &--control-height {
      height: auto;
      width: 100%;

      @include abs.breakpoint-up(lg) {
        height: 240px;
        width: auto;
      }
    }
  }

  &__description-video {
    height: auto;
    width: 100%;
    margin-top: 16px;
    margin-bottom: var(--spacing-sm);
    border-radius: 4px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.7);

    @include abs.breakpoint-up(lg) {
      width: 320px;
    }

    &--control-height {
      height: auto;
      width: 100%;

      @include abs.breakpoint-up(lg) {
        height: 300px;
        width: auto;
      }
    }
  }

  &__bottom-links-container {
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-3xs);
    margin-bottom: var(--spacing-md);

    @include abs.breakpoint-up(lg) {
      padding: 0 var(--spacing-md);
    }
  }
}
