@use "@/styles/abstract/index-abstract" as abs;
@use "@/styles/base/index-base" as root;

.emphasize {
  display: inline-block;

  &--bold {
    font-weight: 700;
  }

  &--italic {
    font-style: italic;
  }

  &--bold-italic {
    font-weight: 700;
    font-style: italic;
  }

  &--code {
    padding: root.$spacing-4xs root.$spacing-3xs;
    border-radius: root.$border-radius-sm;
    background-color: root.$background-subtle-color;
  }
}
