@use "@/styles/abstract/index-abstract" as abs;
@use "@/styles/base/index-base" as root;

.emphasize {
  --emphasize-code-padding: #{root.$spacing-4xs root.$spacing-3xs};
  --emphasize-code-background-color: #{root.$background-subtle-color};
  --emphasize-code-border-radius: #{root.$border-radius-sm};

  &--bold {
    font-weight: 700;
  }

  &--italic {
    font-style: italic;
  }

  &--bold-italic {
    font-weight: 700;
    font-style: italic;
  }

  &--code {
    padding: var(--emphasize-code-padding);
    border-radius: var(--emphasize-code-border-radius);
    background-color: var(--emphasize-code-background-color);
  }
}
