@use "@/styles/abstract/index-abstract" as abs;
@use "@/styles/base/index-base" as root;

.hero-conclusion {
  /* Heading */
  --hero-conclusion-heading-margin-bottom: #{root.$spacing-lg};
  /* Description Item */
  --hero-conclusion-description-item-margin-bottom: #{root.$spacing-md};
  --hero-conclusion-description-item-last-margin-bottom: 0;
  /* Description Image */
  --hero-conclusion-description-image-width: 100%;
  --hero-conclusion-description-image-desktop-width: 320px;
  --hero-conclusion-description-image-height: auto;
  --hero-conclusion-description-image-margin-top: #{root.$spacing-xs};
  --hero-conclusion-description-image-margin-bottom: #{root.$spacing-xs};
  --hero-conclusion-description-image-border-radius: #{root.$border-radius-xs};
  --hero-conclusion-description-image-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.7);
  // Description Image Modifier
  --hero-conclusion-description-image-control-height: auto;
  --hero-conclusion-description-image-control-desktop-height: 320px;
  --hero-conclusion-description-image-control-width: 100%;
  --hero-conclusion-description-image-control-desktop-width: auto;
  /* Description video */
  --hero-conclusion-description-video-width: 100%;
  --hero-conclusion-description-video-desktop-width: 320px;
  --hero-conclusion-description-video-height: auto;
  --hero-conclusion-description-video-margin-top: #{root.$spacing-xs};
  --hero-conclusion-description-video-margin-bottom: #{root.$spacing-xs};
  --hero-conclusion-description-video-border-radius: #{root.$border-radius-xs};
  --hero-conclusion-description-video-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.7);
  // Description Video Modifier
  --hero-conclusion-description-video-control-height: auto;
  --hero-conclusion-description-video-control-desktop-height: 320px;
  --hero-conclusion-description-video-control-width: 100%;
  --hero-conclusion-description-video-control-desktop-width: auto;

  background-color: transparent;

  &__heading {
    margin-bottom: var(--hero-conclusion-heading-margin-bottom);
    @include abs.typography-hero-heading;
  }

  &__content {
    background-color: transparent;
  }

  &__description-item {
    background-color: transparent;
    margin-bottom: var(--hero-conclusion-description-item-margin-bottom);

    &:last-of-type {
      margin-bottom: var(--hero-conclusion-description-item-last-margin-bottom);
    }
  }

  &__paragraph {
    @include abs.typography-hero-description;
  }

  &__description-image {
    width: var(--hero-conclusion-description-image-width);
    height: var(--hero-conclusion-description-image-height);
    margin-top: var(--hero-conclusion-description-image-margin-top);
    margin-bottom: var(--hero-conclusion-description-image-margin-bottom);
    border-radius: var(--hero-conclusion-description-image-border-radius);
    box-shadow: var(--hero-conclusion-description-image-box-shadow);

    @include abs.breakpoint-up(lg) {
      width: var(--hero-conclusion-description-image-desktop-width);
    }

    &--control-height {
      height: var(--hero-conclusion-description-image-control-height);
      width: var(--hero-conclusion-description-image-control-width);

      @include abs.breakpoint-up(lg) {
        height: var(--hero-conclusion-description-image-control-desktop-height);
        width: var(--hero-conclusion-description-image-control-desktop-width);
      }
    }
  }

  &__description-video {
    width: var(--hero-conclusion-description-video-width);
    height: var(--hero-conclusion-description-video-height);
    margin-top: var(--hero-conclusion-description-video-margin-top);
    margin-bottom: var(--hero-conclusion-description-video-margin-bottom);
    border-radius: var(--hero-conclusion-description-video-border-radius);
    box-shadow: var(--hero-conclusion-description-video-box-shadow);

    @include abs.breakpoint-up(lg) {
      width: var(--hero-conclusion-description-video-desktop-width);
    }

    &--control-height {
      width: var(--hero-conclusion-description-video-control-width);
      height: var(--hero-conclusion-description-video-control-height);

      @include abs.breakpoint-up(lg) {
        width: var(--hero-conclusion-description-video-control-desktop-width);
        height: var(--hero-conclusion-description-video-control-desktop-height);
      }
    }
  }
}
