@use "@/styles/abstract/index-abstract" as abs;
@use "@/styles/base/index-base" as root;

.news-modern {
  background-color: transparent;
  border-radius: 8px;

  &--loading-placeholder {
    .news-modern__loading-placeholder {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      border-radius: 8px;
      height: 600px;
      padding: 32px;
      background-color: var(--background-subtle-color);
      @include abs.typography-news-loading-text;
    }
  }

  &--container-dimension:not(:has(.news-modern__news-item)) {
    background-color: var(--background-subtle-color);
    height: 600px;
  }

  &__news-item {
    display: flex;
    flex-direction: column;
    gap: 8px;
    border-bottom: 1px solid var(--stroke-subtle-color);
    border-left: 1px solid var(--stroke-subtle-color);
    border-right: 1px solid var(--stroke-subtle-color);
    padding: 16px;

    @include abs.breakpoint-up(lg) {
      flex-direction: row;
    }

    &:first-of-type {
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
      border-top: 1px solid var(--stroke-subtle-color);
    }

    &:last-of-type {
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px;
    }
  }

  &__date {
    border-radius: 8px;
    background-color: var(--accent-subtle-color);
    width: 70px;
    height: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__date-day {
    color: var(--accent-color);
    margin-bottom: var(--spacing-4xs);
  }

  &__date-month {
    color: var(--accent-color);
  }

  &__item-content {
    background-color: transparent;
  }

  &__item-category {
    margin-bottom: var(--spacing-4xs);
  }

  &__item-paragraph {
    font-weight: 300;
  }

  &__empty-data {
    padding: 16px 24px;
    background-color: var(--background-subtle-color);
  }
}
