<div class="news-modern">
  <div class="news-modern__loading-placeholder">Data is loading</div>
  <div class="news-modern__news-item">
    <div class="news-modern__date">
      <div class="news-modern__date-day">12</div>
      <div class="news-modern__date-month">Sep</div>
    </div>
    <div class="news-modern__item-content">
      <div class="news-modern__item-category"></div>
      <div class="news-modern__item-paragraph"></div>
    </div>
  </div>
  <div class="news-modern__empty-data">Sorry, there are no available data</div>
</div>

<div class="news-modern news-modern--reserved-space">
  <div class="news-modern__news-item">
    <div class="news-modern__date">
      <div class="news-modern__date-day">12</div>
      <div class="news-modern__date-month">Sep</div>
    </div>
    <div class="news-modern__item-content">
      <div class="news-modern__item-category"></div>
      <div class="news-modern__item-paragraph"></div>
    </div>
  </div>
</div>
