@use "@/styles/abstract/index-abstract" as abs;
@use "@/styles/base/index-base" as root;

.link-arrow {
  --link-arrow-gap: #{root.$spacing-5xs};
  --link-arrow-text-color: #{root.$accent-color};
  --link-arrow-active-text-color: #{root.$accent-color};
  --link-arrow-icon-transition: transform #{root.$transition};
  --link-arrow-icon-hover-transform: translate(8px);

  display: flex;
  align-items: center;
  gap: var(--link-arrow-gap);
  width: fit-content;
  color: var(--link-arrow-text-color);

  &:active,
  &:focus {
    color: var(--link-arrow-active-text-color);
  }

  &:hover {
    .link-arrow__icon {
      transform: var(--link-arrow-icon-hover-transform);
    }
  }

  &__text {
    @include abs.typography-link-arrow;
  }

  &__icon {
    transition: var(--link-arrow-icon-transition);
  }
}
