@use "@/styles/abstract/index-abstract" as abs;
@use "@/styles/base/index-base" as root;

.link-arrow {
  --link-arrow-gap: #{root.$spacing-4xs};

  display: flex;
  align-items: center;
  gap: 4px;
  width: fit-content;
  color: var(--accent-color);

  &:active,
  &:focus {
    color: var(--accent-color);
  }

  &:hover {
    .link-arrow__icon {
      transform: translate(8px);
    }
  }

  &__text {
    @include abs.typography-link-arrow;
  }

  &__icon {
    transition: transform 0.35s ease-in-out;
  }
}
