@use "@/styles/abstract/index-abstract" as abs;
@use "@/styles/base/index-base" as root;

.app-layout {
  --app-layout-content-padding: #{root.$spacing-md};
  --app-layout-content-padding-desktop: #{root.$spacing-md root.$spacing-lg};

  display: flex;
  flex-direction: column;

  @include abs.breakpoint-up(lg) {
    flex-direction: row;
    min-height: 100vh;
  }

  &__content {
    flex: 1;
    padding: var(--app-layout-content-padding);

    @include abs.breakpoint-up(lg) {
      padding: var(--app-layout-content-padding-desktop);
    }
  }
}
