@use "../abstract/variables" as var;

:root {
  --background-color: #{var.$mapped-background-color};
  --background-subtle-color: #{var.$mapped-background-subtle-color};
  --text-color: #{var.$mapped-text-color};
  --text-subtle-color: #{var.$mapped-text-subtle-color};
  --on-accent-text-color: #{var.$mapped-on-accent-text-color};
  --accent-color: #{var.$mapped-accent-color};
  --accent-minimal-color: #{var.$mapped-accent-minimal-color};
  --accent-subtle-color: #{var.$mapped-accent-subtle-color};
  --accent-bold-color: #{var.$mapped-accent-bold-color};
  --secondary-color: #{var.$mapped-secondary-color};
  --on-secondary-background-subtle-color: #{var.$mapped-on-secondary-background-subtle-color};
  --stroke-color: #{var.$mapped-stroke-color};
  --stroke-subtle-color: #{var.$mapped-stroke-subtle-color};
  --border-radius-scale: 1;
  --border-radius-xs: calc(
    #{var.$mapped-border-radius-xs} * var(--border-radius-scale)
  );
  --border-radius-sm: calc(
    #{var.$mapped-border-radius-sm} * var(--border-radius-scale)
  );
  --border-radius-md: calc(
    #{var.$mapped-border-radius-md} * var(--border-radius-scale)
  );
  --border-radius-full: calc(
    #{var.$mapped-border-radius-full} * var(--border-radius-scale)
  );
  --spacing-scale: 1;
  --spacing-6xs: calc(#{var.$mapped-spacing-6xs} * var(--spacing-scale));
  --spacing-5xs: calc(#{var.$mapped-spacing-5xs} * var(--spacing-scale));
  --spacing-4xs: calc(#{var.$mapped-spacing-4xs} * var(--spacing-scale));
  --spacing-3xs: calc(#{var.$mapped-spacing-3xs} * var(--spacing-scale));
  --spacing-2xs: calc(#{var.$mapped-spacing-2xs} * var(--spacing-scale));
  --spacing-xs: calc(#{var.$mapped-spacing-xs} * var(--spacing-scale));
  --spacing-sm: calc(#{var.$mapped-spacing-sm} * var(--spacing-scale));
  --spacing-md: calc(#{var.$mapped-spacing-md} * var(--spacing-scale));
  --spacing-2md: calc(#{var.$mapped-spacing-2md} * var(--spacing-scale));
  --spacing-lg: calc(#{var.$mapped-spacing-lg} * var(--spacing-scale));
  --spacing-2lg: calc(#{var.$mapped-spacing-2lg} * var(--spacing-scale));
  --spacing-3lg: calc(#{var.$mapped-spacing-3lg} * var(--spacing-scale));
  --spacing-xl: calc(#{var.$mapped-spacing-xl} * var(--spacing-scale));
  --transition: 0.3s ease-in-out;
  --font-family: "Nunito";
}

$background-color: var(--background-color);
$background-subtle-color: var(--background-subtle-color);
$text-color: var(--text-color);
$text-subtle-color: var(--text-subtle-color);
$on-accent-text-color: var(--on-accent-text-color);
$accent-color: var(--accent-color);
$accent-minimal-color: var(--accent-minimal-color);
$accent-subtle-color: var(--accent-subtle-color);
$accent-bold-color: var(--accent-bold-color);
$secondary-color: var(--secondary-color);
$on-secondary-background-subtle-color: var(
  --on-secondary-background-subtle-color
);
$stroke-color: var(--stroke-color);
$stroke-subtle-color: var(--stroke-subtle-color);
$border-radius-scale: var(--border-radius-scale);
$border-radius-xs: var(--border-radius-xs);
$border-radius-sm: var(--border-radius-sm);
$border-radius-md: var(--border-radius-md);
$border-radius-full: var(--border-radius-full);
$spacing-scale: var(--spacing-scale);
$spacing-6xs: var(--spacing-6xs);
$spacing-5xs: var(--spacing-5xs);
$spacing-4xs: var(--spacing-4xs);
$spacing-3xs: var(--spacing-3xs);
$spacing-2xs: var(--spacing-2xs);
$spacing-xs: var(--spacing-xs);
$spacing-sm: var(--spacing-sm);
$spacing-md: var(--spacing-md);
$spacing-2md: var(--spacing-2md);
$spacing-lg: var(--spacing-lg);
$spacing-2lg: var(--spacing-2lg);
$spacing-3lg: var(--spacing-3lg);
$spacing-xl: var(--spacing-xl);
$transition: var(--transition);
$font-family: var(--font-family);
